[defaults]
roles_path = ../iac-modules/ansible/roles:.ansible/roles
inventory = ./inventory/templates/personal/hosts.yml
retry_files_enabled = False
stdout_callback = yaml
host_key_checking = True
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
